body {
	background-color: #b7d1c4
}

html,body
{height:100%
}
body
{font-family:"kepler-std-n3","kepler-std",serif;
font-style:normal;font-weight:300;color:#615d59;font-size:1.1em;
-webkit-font-smoothing:antialiased
}
a{color:#315c77;-webkit-transition:color .3s ease-in-out;
	-moz-transition:color .3s ease-in-out;
	-o-transition:color .3s ease-in-out;
	transition:color .3s ease-in-out
	}
	a:hover
	{color:#323f47;-webkit-transition:color .3s ease-in-out;
		-moz-transition:color .3s ease-in-out;
		-o-transition:color .3s ease-in-out;
		transition:color .3s ease-in-out;
		text-decoration:none;border-bottom:1px solid
		}
		a:active
		{-webkit-transform:translate(0,1px);
			-moz-transform:translate(0,1px);
			-o-transform:translate(0,1px);
			-ms-transform:translate(0,1px);
			transform:translate(0,1px)
			}
		p,li
		{line-height:1.6
		}
